body{
	font-family: sans-serif; 
}

/*for the container / front*/
.cont{
  width:80%;
  margin:auto;
  overflow:hidden;
}

#keep {  
  min-height:10px;
  background:url('../img/cover.jpg') no-repeat 0 -300px;
  background-position: center;
  width: auto;
  text-align:center;
  padding: 20px;
}

#keep h1{
  font-size:55px;
  font-family: Times, "Times New Roman", serif;
  text-align: center;
  color: #000;
  margin-top:100px;
  margin-bottom:10px;
}

/*for the p | definition*/
#keep p{
  font-size:30px;
  font-family: serif; 
}

/* for the images*/
.gallery{
	margin: 30px 50px
}

.gallery img{
	width: 230px;
	height: 270px;
	padding-top: 5px;
	padding-left: 13px;
	filter: grayscale(100%);
	transform: 2s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}